
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Poppins" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link  href='/src/app/notification/notification.component.css'  >
</head>
<body>
<div class="title">
    <p><strong>Notifications</strong></p>
</div>
<!--div class="box-notif">
 
  <div class = "cont"  *ngFor="let not of notificationsList" (click)="openPostPopup($event,not)">
  
 <div class = "sec new" >
 
 <div class = "profCont">
  <img class = "profile" [src]="not.actor.image ?not.actor.image : '/assets/image/user.png'" class="notification-user-avatar">
  <i *ngIf="not.reaction === 'commente'" class="bx bx-chat notification-reaction"></i>
   <i *ngIf="not.reaction === 'like'" class="bx bx-like notification-reaction"></i>
   </div>
  <div class = "txt">{{not.message}}</div>
  <i class='bx bx-trash'></i>
 <div class = "txt sub">11/7 - 2:30 pm</div>
   </div>
  </div>   
   </div-->
 
   <div class="notification" *ngFor="let not of notificationsList" @notificationAnimation>
    <div class="notification-header">
      <i class='bx bx-x notification-close' (click)="PopupDelete(not)"></i>
     
    </div>
    <div class="notification-container" (click)="openPostPopup($event,not)">
    
      <div class="notification-media">
        <img [src]="not.actor.image ?not.actor.image : '/assets/image/user.png'" alt="" class="notification-user-avatar">
              <i *ngIf="not.reaction === 'commente'" class="bx bxs-chat notification-reaction"></i>
              <i *ngIf="not.reaction === 'like'" class="bx bxs-like notification-reaction"></i>
              <i *ngIf="not.reaction === 'dislike'" class="bx bxs-dislike notification-reaction"></i>
      <div class="notification-status">
     <i class='bx bxs-circle' [ngClass]="{'connected':not.actor.status === 'CONNECTE', 'disconnected':not.actor.status === 'DECONNECTE'}" ></i>
                  
    </div>
      </div>
     
      <div class="notification-content">
        <p class="notification-text">
      
        {{not.message}}
          </p>
              <span class="notification-timer" >{{ formatDateTime(not) }}</span>
      </div>
     
    </div>
  </div>

  <div   class="popupPoste" #popupPoste>
    <div  *ngIf="selectedPost" class="card-list">
      <div  class="user-profile">
        <div>
          <p >{{selectedPost.user.nom}} {{selectedPost.user.prenom}}</p>
          <span> {{selectedPost.dateCreate | date:'dd-MM-yy HH:mm'}}</span>
          <img [src]="selectedPost.user.image" class="profile-img">
        </div>
      </div>
      
      <div class="containerPopupPoste">
        
      
      <p contenteditable="true" class="post-text">{{selectedPost.message}}
      </p>
      <img [src]="selectedPost.image" class="post-image">
      <div class="commentTaille"  (click)="toggleCommentsPart(selectedPost.id, selectedPost,$event)">
      <div  *ngIf="getActiveComments(selectedPost).length > 0" >
        <div *ngIf="getActiveComments(selectedPost).length ==1"><p>{{ getActiveComments(selectedPost).length }} commentaire</p></div>
        <div *ngIf="getActiveComments(selectedPost).length >1"> <p>{{ getActiveComments(selectedPost).length }} commentaires</p></div>
      </div>
      </div>
      <div class="btnIte"  >
        <button (click)=" toggleLike(selectedPost)">
          <i class='bx bxs-like' [ngClass]="{ 'liked': isLike[selectedPost.id.toString()] }"></i>
          <span *ngIf="totalLikesMap[selectedPost.id] > 0">  {{ totalLikesMap[selectedPost.id] }}</span>
        </button>
        <button  (click)="toggleDislike(selectedPost)">
          <i class='bx bxs-dislike'   [ngClass]="{ 'disLiked': isDislike[selectedPost.id.toString()] }"></i>
          <span *ngIf="totalDislikesMap[selectedPost.id] > 0">  {{totalDislikesMap[selectedPost.id]}}</span>
        </button>
        <button (click)="toggleTextarea(selectedPost)" >
          <i class='bx bx-chat'></i>
        </button>
      </div>
     
  </div>
    
     
     
     
     
      <!-------------------------Comment----------------------------------------------------------->
      <div class="commentPopup">
        
        <div  *ngIf="isTextareaVisible(selectedPost)" [formGroup]="commentForm"  class="commentText">
          <textarea id="textComm" rows="2" placeholder="" (click)="selectedPost.showButton = true" [ngModel]="messageComment" (input)="adjustTextareaSize($event)" (keydown.enter)="addNewLine()" [formControl]="commentForm.get('messageComment')"></textarea>
        <button *ngIf="selectedPost.showButton" (click)="addCommentToPost(selectedPost)">  <i class='bx bxs-send' ></i></button>
        </div>
        <div  class="listeComment"  >
          <div *ngFor="let comment of getSortedComments(selectedPost.comments) " [attr.id]="'comment-' + comment.id">
          
              
              <app-comment  [showChilds]="showChilds" [comment]="comment" [user]="user" (deleteCommentWithInfo)="onResirve($event)" (deleteComment)="onCommentDelete($event)" [comments]="selectedPost.comments" ></app-comment>
              
            </div>
       </div>
    
  
  
        <i class="psteIcon" [class]="matchingIcon.icon"></i>
     
  
    </div>
  </div>
   </div>
        
   <div   class="popupDelete" #popupDelete>
    <div class="cardDelete">
      <p>Voulez-vous vraiment supprimer ?</p>
      <button  (click)="confirmDelete()">
        <div class="svg-valider">

          <i class='bx bxs-user-check'></i>
        </div>

        <span >Valider</span>
      </button>
    </div>
  </div>
  <div   class="popupInform">
    <div class="cardInform">
      <p>C'est déjà supprimer !</p>
      <button (click)="validerInform()">
        <div class="svg-valider">
  
          <i class='bx bxs-user-check'></i>
        </div>
  
        <span >Valider</span>
      </button>
    </div>
    </div>
   <div class="overlay" #overlay></div>
        
      
</body>
</html>
     