<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link  href="/app/reset-password/reset-password.component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
</head>
<body>
    <div class="wrapper">
        <div class="form-box">
<div    class="reset-password-container" >
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="top">
        <span> Retour au page de connexion
            <a (click)="login()">S'inscrire</a></span>
        <header>Réinitialiser le mot de passe</header>
    </div>
      <div class="input-box">
        <input formControlName="newPassword" type="password" id="newPassword" class="input-field" placeholder="Entrez un nouveau mot de passe">
        <i class="bx bx-lock-alt"></i>
        <mat-error *ngIf="(resetPasswordForm.controls.newPassword.touched || resetPasswordForm.controls.newPassword.dirty) && resetPasswordForm.controls.newPassword.invalid">
          <!-- Affichez uniquement l'erreur 'required' si elle existe -->
          <span *ngIf="resetPasswordForm.controls.newPassword.errors?.required; else otherErrors">
              Remplir Mot de Passe!
          </span>
      
          <!-- Autres erreurs ne s'afficheront que si l'erreur 'required' n'est pas présente -->
          <ng-template #otherErrors>
              <!-- Erreur de longueur minimale -->
              <span *ngIf="resetPasswordForm.controls.newPassword.errors?.minlength; else customError">
                  Saisir Au Minimum 8 Caractères!
              </span>
      
              <!-- Erreur de validation personnalisée (affichée seulement si aucune autre erreur n'est présente) -->
              <ng-template #customError>
                  <span *ngIf="resetPasswordForm.controls.newPassword.errors?.passwordInvalid">
                      Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial!
                  </span>
              </ng-template>
          </ng-template>
      </mat-error>
        </div>
      
      <div class="input-box">
       
        <input type="password" class="input-field" placeholder="Confirmer le mot de passe" formControlName="confirmPassword">
        <i class="bx bx-lock-alt"></i>
        <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.errors?.required">
            <span>Remplir Confirmation Mot de Passe!</span>
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.touched && !resetPasswordForm.controls.confirmPassword.errors?.required && resetPasswordForm.hasError('passwordMismatch')">
            <span>Les mots de passe ne correspondent pas!</span>
        </mat-error>
        
      </div>
       
       <div class="input-box">
        <input type="submit" class="submit" value=" Réinitialiser le mot de passe"  >
        <span *ngIf="message"></span>
        <span>{{ errorMessage }}</span>
        </div>
    
    <div class="message" >{{ message }}</div>
    </form>
  </div>
        </div>
</div>
</body>