
*{  
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

.navbar{
    left: 88px;
   
}

.navbar.active ~ .main-content

{  left: 220px;
    width: calc(100% - 220px);
    
   
}

.main-content
{
   
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
      height: 100px;
    top:0;
    left:88px;
    position: fixed;
    transition: all 0.5s ease;
    width: calc(100% - 88px);
   padding: 10px 50px;
   box-sizing: border-box;
   border-bottom: 1px solid #fff;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   
   
   display: flex;
   transition: all 1s ease;
   justify-content: space-between;
   z-index: 1000;
  

}




.main-content .search input{

    position: absolute;
    height: 48px;
    width: 400px;
     top:20px;
    border-radius: 10px;
    outline: none;
    border: none;
  /*  background: #e6e7eb;*/
  background: linear-gradient(to bottom, #95a1ba92 0%, #bdc9e492 100%);
    padding-left: 50px ;
    font-size: 18px;
    color: #fff;
    z-index: 10;  
  
} 
.main-content .search .bx-search{
    position: absolute;
    z-index: 50;
    color: #fff;
    font-size: 28px;
    top: 30px;
    left: 2em;
    height: 50px;
    
} 
.icon{
  position: relative;
    cursor: pointer;
 float: right;
 top:19px;
 margin-right: 3px; 
}
.main-content .icon ul {
    
    list-style: none;
    display: flex;
 
  padding: 5px;
   
}

.main-content .icon ul li{
    position: relative;
    top:9px;
     list-style-type:none;
     height: 100%;
     width: 100%;
     margin: 0.8rem auto;
     line-height: 20px;
     padding: 12px 30px;
    color:#6f91ef92;
    font-size: 25px;
     
 }
.bx-log-in-circle{

  position: relative;
  
  height: 100%;
  width: 100%;
  left: 2.5em;
}

  .setting {
    position: fixed;
    background: rgba(241, 241, 244, 0.936);
    top:110px;
    bottom: calc(100% - 290px);
    right: 10px;
    
    float: right;
    
   
     border-radius: 10px;
   visibility: hidden;
   border: 2px solid white;
   box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.2);
   z-index: 110;
   
  
   
  }
 .badgeMessage{
  position: absolute;
  margin-top: -1.5rem;
  right: 12px;
  display: flex;
align-items: center;
justify-content: center;
  width: 20px;
  height: 20px;
  font-size:x-small;
  padding: 8px 8px;
  border-radius: 50%;
  background: red;
  border-style: 3px solid white;
  color: white;
}
 
  .badge {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
    width: 20px;
    height: 20px;
    font-size:x-small;
    padding: 8px 8px;
    border-radius: 50%;
    background: red;
    border-style: 3px solid white;
    color: white;
  }
  .setting.active{
    visibility: visible;
    
  }
 .setting::before{

    content: '';
    position: absolute;
    top:-8px;
    left:70px;
    width:25px;
    height:18px;
    background: rgba(241, 241, 244, 0.936);
    transform: rotate(45deg);
    border-radius: 3px;
    border: 1px solid rgba(241, 241, 244, 0.936);
    box-shadow: 0 0.5rem 0.8rem rgba(241, 241, 244, 0.936);
  
 }

 
 
.setting ul
{
    position: relative;
    display: flex;
  
    flex-direction: column;
   
    border-radius: 10px;
   z-index: 60;
   
}

.setting ul li {
    top: 3px;
    margin-left: 5px;
    list-style: none;
    padding: 15px 0;
  
  align-items: center;
  justify-content: center;

}
.setting ul li:hover {
  transform: scale(1.05);
   border-radius: 10px;
   border: 1px solid white;
   box-shadow: 0px 8px 15px white;
   cursor: pointer;
  background-color: #b1c0fa; 

}
.setting ul li:hover span{
    color: #fff;
   
}
.setting ul li:hover i{
    color: #fff;
}
.setting ul li:active{
    transform: scale(0.95);
 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    
}
.setting ul li span{
    text-decoration: none;
    color:#6f91ef92;
    margin-left: 10px;
    align-items: center;
    gap:15px;
}

.setting ul li i{
  font-size: 18px;
  color:#6f91ef92;
}
.notification {
 position: relative;


	padding: 15px;
	width: 25%;
	border-radius: 16px;
	position: fixed;
	bottom: 15px;
	left: -2px;
  background-color: rgba(0, 0, 0, 0.1);
	transform: translateY(200%);
	animation: noti 10s  forwards  ease-in;
z-index: 1000;}
	.notification .notification-header {
    
		display: flex;

		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	.notification .notification-header .notification-title {
		font-size: 14px;
		font-weight: 500;
		text-transform: capitalize;
	}
	.notification .notification-header  .notification-close {
		cursor: pointer;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #F0F2F5;
		font-size: 18px;
	}
	.notification .notification-container {
    position: relative;
		display: flex;
   
    width: 100%;
  
    align-items: flex-start;
	}
	.notification .notification-container .notification-media {
		    position: relative;
	}
	.notification .notification-container .notification-media .notification-user-avatar {
		width: 60px;
    height: 60px;
    border-radius: 60px;
    object-fit: cover;
	}
	.notification .notification-container .notification-media .notification-reaction {
		width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(45deg, #0070E1, #14ABFE);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
	}
	 .notification .notification-container .notification-content {
    position: relative;
		width: 90%;
    padding-left: 20px;
    line-height: 1;
	}
	 .notification .notification-container .notification-content .notification-text {
    margin-bottom: 5px;            /* Adds space below the element */
    display: -webkit-box;          /* Old flexbox syntax */
    display: -webkit-flex;         /* Flexbox for WebKit browsers */
    display: flex;                 /* Standard flexbox */
    
    -webkit-box-orient: vertical;  /* Vertical layout for -webkit-line-clamp */
    -webkit-flex-direction: column;/* Vertical layout for -webkit-line-clamp */
    flex-direction: column;        /* Vertical layout */
    
    line-clamp: 3;       /* Limit to 3 lines of text */
    overflow: hidden;              /* Hide overflow */
    text-overflow: ellipsis;       /* Ellipsis (...) for overflow text */
  padding-right: 50px;

	}
	.notification .notification-container .notification-content  .notification-timer {
		color: #1876F2;
    font-weight: 600;
    font-size: 14px;
	}
	 .notification .notification-container .notification-status {
		position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); 
    width: 15px;
    height: 15px;
    background-color: #1876F2;
    border-radius: 50%;
	}


/*@keyframes noti{
	50%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}*/
@keyframes noti {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}



.box-notif::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 5px
}

.box-notif::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  border-radius: 5px
}

.box-notif::-webkit-scrollbar-thumb
{
	background-color: #66a6ff;
	border: 2px solid #66a6ff;
  border-radius: 5px
}
.bx-bell:hover{
 
  color: #14ABFE;
  cursor: pointer
}
.bell-notif:hover > .box-notif.has-notifications {
  display: block;
  height: 60vh;
}
.box-notif {
  display: none;
  transition: height 0.3s ease-in-out;
}

.box-notif{
 width: 400px;
 
  border-radius: 10px;
  transition: 0.5s;
  position: absolute;
  display: flex;
  overflow-y: scroll;
  padding: 0px;
  left: -100px;
  top: 80px;

  z-index: 1001;
   background-color: rgba(0, 0, 0, 0.1);
 
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
  cursor: context-menu;
}




.content{
  padding: 20px;
  color: black;
  vertical-align: middle;
  text-align: left;
}

.gry{
  background-color: #F4F4F4;
}

.top{
  color: black;
  padding: 10px
}



.cont{
  position: absolute;
  top: 10px;
 
  width: 100%;
  height: 50%;
 
}
.cont p{

color:   #1f5876;
float: right;

margin-bottom:5px; 
}
.cont:empty{
  display: none;
}

.stick{
  text-align: center;  
  display: block;
  font-size: 40pt;
  padding-top: 70px;
  padding-left: 80px
}

.stick:hover{
  color: black;
}

.cent{
  text-align: center;
  display: block;
}

.sec{
  position: relative;
  top:20px;
  padding: 25px 10px;
  background-color: #F4F4F4;
  transition: 0.5s;
}

.profCont{
  padding-left: 15px;
}

.profile{
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 50px;
  float: left;
}

.txt{
  vertical-align: top;
  font-size: 15px;
  padding: 5px 10px 0px 115px;
}

.sub{
  font-size: 10px;
  color: grey;
}

.new{
  border-style: none none solid none;
  border-color:#14ABFE;
}

.sec:hover{
  background-color: #BFBFBF;
}

.notificationList {
  position: relative;
 display: flex;
 top:10px;
   padding: 25px;
   width: 90%; /* Ajustable pour petits écrans */
  max-width: 500px;
   height: 120px;
   border-radius: 16px;
   background-color: #F4F4F4;
   border: 1px solid white;
   margin-bottom: 15px;
 left: 10px;
   background-color: rgba(0, 0, 0, 0.1);
  /* box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);*/
   backdrop-filter: blur(6px);
   border-radius: 17px;
   z-index: 10001;
  
 }
 .notificationList .notification-header {
  position: absolute;
  top:0px;
  right: 4px;
float: right;
  align-items: center;
 
  margin-bottom: 15px;
}
 .notificationList .notification-header  .notification-close {

  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
 
  display: flex;
    align-items: center;
  justify-content: center;
  background-color: #F0F2F5;
  font-size: 18px;
 box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
 backdrop-filter: blur(6px);
  z-index: 111;
}
 .notificationList .notification-container {
  position: relative;
  display: flex;
 
  width: 100%;

  align-items: flex-start;
}
.notificationList .notification-container .notification-media {
      position: relative;
}
.notificationList .notification-container .notification-media .notification-user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  object-fit: cover;
}
.notificationList .notification-container .notification-media .notification-reaction {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(45deg, #0070E1, #14ABFE);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.notificationList .notification-container .notification-media .notification-status  .bxs-circle {
 position: absolute;
 background-color: #FAFAFA;
 border-bottom: solid 1px #E0E0E0;
font-size: 12px;
  left: 45px;
 width: 12px;
 height: 12px;
top:5%;
 border-radius: 50%;
}
.connected {
color: green;
}

.disconnected {

color:rgba(207, 142, 20, 0.664);}
 .notificationList .notification-container .notification-content {
  position: relative;
  width: 90%;
  padding-left: 20px;
  line-height: 1;
}
 .notificationList .notification-container .notification-text {
  margin-bottom: 5px;            /* Adds space below the element */
  display: -webkit-box;          /* Old flexbox syntax */
  display: -webkit-flex;         /* Flexbox for WebKit browsers */
  display: flex;                 /* Standard flexbox */
  
  -webkit-box-orient: vertical;  /* Vertical layout for -webkit-line-clamp */
  -webkit-flex-direction: column;/* Vertical layout for -webkit-line-clamp */
  flex-direction: column;        /* Vertical layout */
  
  line-clamp: 3;        /* Limit to 3 lines of text */
  overflow: hidden;              /* Hide overflow */
  text-overflow: ellipsis;       /* Ellipsis (...) for overflow text */
  padding-right: 50px;
 

}
.notificationList .notification-container .notification-content  .notification-timer {
  color: #1876F2;
  font-weight: 600;
  font-size: 14px;
}

.card-list .containerPoste .post-text {
  color: black;
 padding: 10px;
 white-space: pre-wrap; /* Conserve les sauts de ligne et les espaces comme dans le texte d'origine */
word-wrap: break-word; 
 font-size: 25px;
 font: 1em sans-serif;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5%;
  cursor: text;
  text-align: left;


 
 


}
.post-text.expanded {
 max-height: none; /* Supprime la limite lorsque l'élément est étendu */
 white-space: normal;
 overflow: visible;
}

.toggle-button {

 position: absolute;
 background-color: transparent;
 border: none;
 color:#6d80c5;
 cursor: pointer;
 margin-top: 5px;
 left: 20px;
}
.card-list  .containerPoste .post-image {
 max-width: 60%;
 height: auto;
margin-top: 5%;
 border-radius: 4px;
 margin-bottom: 5px;
}

.card-list .psteIcon {
position: absolute;
 top: 0;
display: flex;
 font-size: 25px;
 color: #1876f2;
right: 0px;
}

.card-list .btnIte {
 position:relative;
 width: 60%;

display: flex;
 margin-left: 26%;
margin-top: 10px;
}
.card-list .btnIte  button:nth-child(3) {
 background-color: #007bff; /* Change la couleur de fond du bouton en bleu */
 color: white; /* Change la couleur du texte en blanc */
}

.bx.bxs-like {
 color: white;
}

.bx.bxs-like.liked {
 color:blue;}
 .bx.bxs-dislike
 {
   color: white;
 }
 .bx.bxs-dislike.disLiked{
   color:blue;
 }
.card-list .btnIte button {
 font-size: 16px;
 width: 12%;
 margin-top: 0;
 background: linear-gradient(to bottom, #aab7d392 0%, #95a1ba92 100%);
 color: white;
 margin-left: 10%;

 align-items: center;
 justify-content: center;
 border: none;
 border-radius: 25px;
 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
 transition: all 0.3s;
}

.card-list .btnIte button:hover {
 transform: translateY(-3px);
 box-shadow: 0px 8px 15px white;
}

.card-list .btnIte button:active {
 transform: scale(0.95);
 box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-list .edit-delette {
 position: absolute;
 right: 30px;
 top: 3px;
 width: 22px;
 height: 22px;
}

.card-list .edit-delette .bx-dots-horizontal-rounded {
 font-size: 22px;
 
}

.card-list .edit-delette:hover {
 border-radius: 50%;
 background-color: rgba(0, 0, 0, 0.1)
}

.popupPoste {
 

  position:fixed;
  
    width: 100%;
   margin-left: 23%;
   top: 20rem;
      z-index: 9999;
   

      }
   
      .popupPoste  .card-list li {
      
        text-decoration: none;
      }
  
     
     
       .popupPoste  .card-list {
     
        box-sizing: border-box;
        width: 900px;
       max-height: 600px;
     
        overflow-y: auto;
        overflow-x:hidden;
         padding: 30px;
        background: rgba(217, 217, 217, 0.58);
        border: 1px solid white;
        box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(20px);
        border-radius: 17px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
        align-items: center;
        justify-content: center;
        user-select: none;
        font-weight: bolder;
        color: black;
        margin-bottom: 20px;
        bottom: 20px;
      
      }
      
     .popupPoste  .card-list:hover {
        border: 1px solid rgb(14, 1, 1);
        transform: scale(1.01);
       
      }
      .popupPoste  .card-list .user-profile{
  
        position: fixed;
        top:0;
        left: 5%;
        width: 20%;
      }
      
      .popupPoste  .card-list .user-profile span {
        position: fixed;
         top:10px;
        margin-left: 25%;
        width: 20%;
        font-size: 13px;
        color: #676767;
      
      }
      
      .popupPoste  .card-list  .profile-img {
        position: fixed;
        top: 0;
        left: 0;
        width: 45px;
       
        border-radius: 50%;
        margin-right: 10px;
      }
     
      .popupPoste .card-list  .containerPopupPoste{
      
      
       top:10px;
       border-radius: 10px;
     
        width: 80%;
        display: flex;
        flex-direction: column;
         transition: all 0.5s ease;
        display: inline-block;
        border: 1px solid white;
        bottom: 40px;
      }
   
      
      .popupPoste .card-list  .containerPopupPoste  .toggle-button {

        position: absolute;
        background-color: transparent;
        border: none;
        color:#6d80c5;
        cursor: pointer;
        margin-top: 20px;
        left: 125px;
      }
      .popupPoste   .card-list .containerPopupPoste .post-text {
        color: black;
       padding: 10px;
       white-space: pre-wrap; /* Conserve les sauts de ligne et les espaces comme dans le texte d'origine */
     word-wrap: break-word; 
       font-size: 20px;
       font: 1em sans-serif;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 5%;
        cursor: text;
        text-align: left;
      
     }
      
     .popupPoste  .comment .commentText   button{
      position:relative;
       width: 40px;
       top:-55px;
       
       height: 25px;
      
       left:35%;
       align-items: center;
       justify-content: center;
       border: none;
       border-radius: 10px;
      
     }
      
      .popupPoste  .card-list  .containerPopupPoste .post-image {
       
        width: 50%;
      margin-top: 5%;
        border-radius: 4px;
        margin-bottom: 5px;
      }
      
      .popupPoste   .card-list .psteIcon {
       position: absolute;
        top: 0;
       display: flex;
        font-size: 25px;
        color: #1876f2;
      right: 0px;
      }
      .comment{
    
        display: flex;
    flex-direction: column;
      }
      app-comment {
        margin: 0 !important;
        padding: 0 !important;
      }
      .comment  .commentTaille 
    
      {
      
        position: relative;
        margin-top: -30px;
        color: #090909;
        float: right;
        font-size: 12px;
       margin-left: 35rem;
       width: 150px;
    }
        
      
      .popupPoste  .card-list  .containerPopupPoste .btnIte {
     
        margin-top:15px;
        width: 100%;
         float: left;
     
       bottom: 10px;
        margin-left: 0%;
      
      }
      .popupPoste  .card-list .containerPopupPoste .btnIte  button:nth-child(3) {
        background-color: #007bff; /* Change la couleur de fond du bouton en bleu */
        color: white; /* Change la couleur du texte en blanc */
      }
      
      .popupPoste  .card-list   .containerPoste  .btnIte button {
        font-size: 12px;
        width: 15%;
     
        background: linear-gradient(to bottom, #aab7d392 0%, #95a1ba92 100%);
        color: white;
        margin-left: 10%;
      
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
      }
      
      .popupPoste  .card-list .btnIte button:hover {
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px white;
      }
      
      .popupPoste   .card-list .btnIte button:active {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
     
      .popupPoste  .card-list .edit-delette {
        position: absolute;
        right: 30px;
        top: 3px;
        width: 22px;
        height: 22px;
      
      
      
      
      }
      
      .popupPoste   .card-list .edit-delette .bx-dots-horizontal-rounded {
        font-size: 22px;
      }
      
      .popupPoste  .card-list .edit-delette:hover {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1)
      }
      
  
      .popupPoste  .card-list   .commentPopup{
      
        
     
     
       
      position:fixed;
      width: 40%;
     float: right;
        max-height:95%;
        overflow-y: auto; 
        overflow-x: hidden;
     display: block;
        top: 3%;
    
    margin-right: -60%;
        transition: all 1s ease;
      }
      .popupPoste  .card-list   .commentPopup.active{
      
        
     display: none;
     
       
      
        }
      .popupPoste  .card-list   .commentPopup .listeComment{
       
        top:100%;
        
        width: 100%;
           transition: all 1s ease;
  
      }
     
   .popupPoste  .card-list   .commentPopup .listeComment.active{
       top:2%;
       margin-left: -90px;
       transition: all 1s ease;
      }
  .popupPoste   .card-list  .commentPopup  .commentText #textComm{
  
    border-radius: 10px;
  
    display: flex;
  margin-top:80px;
     outline: none;
    transition: .2s ease;
    width:95%;
   margin-right: 90px;

   
    resize: none;
    border: none;
      }
   .popupPoste   .card-list  .commentPopup    .commentText   button{
        position: relative;
         width: 40px;
        top:-34px;
  
         float: right;
         height: 25px;
        
         right: 6%;
         align-items: center;
         justify-content: center;
         border: none;
         border-radius: 10px;
        
       }
     .popupPoste .card-list .commentPopup .commentText .bxs-send {
         color: #66a6ff;
       }
       .card-list .comment .commentText #textComm {
        position: relative;
      
         top:40px;
       
         border-radius: 10px;
         outline: none;
         transition: .2s ease;
         width: 71%;
         padding-left: 5px;
         padding-right:  75px;
         display: flex;
         left: 136px;
        
         resize: none;
         border: none;
         margin-bottom: 60px;
       
       }
       a{
         font-size: 0.8rem;
       }
       .comment .commentText   button{
         position:relative;
          width: 40px;
        top: -54px;
          
          height: 25px;
         
          left:31%;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 10px;
         
        }
       /*.card-list .comment .commentText  .uplodImage{
         position: relative;
         top:-15px;
         left: 85px;
         border: 2px dashed #ccc;
         border-radius: 5px;
         padding: 20px;
         width:25%;
         height: 25%;
         bottom: 5px;
         text-align: center;
         display: none;
         justify-content: center;
       }*/
       .card-list .comment .commentText .image-preview {
         position: relative;
         top:-15px;
         left: 85px;
         width: 300px;
         border: 2px dashed #ccc;
         height: 200px;
        
         display: flex;
         justify-content: center;
         align-items: center;
       }
       
       .card-list .comment .commentText .image-preview img {
         max-width: 100%;
         max-height: 100%;
       }
       .delete-icon {
         position: absolute;
         top: 5px;
         right: 5px;
         cursor: pointer;
         visibility: hidden;
         
       }
       
       .comment  .commentText .bx-camera{
         position: relative;
         float: right;
        font-size: 20px;
        bottom:75px;
         color:#69738b92 ;
         right: 130px;}
       
       
       .comment .commentText .bxs-send {
         color: #66a6ff;
       }
       
       
       .comment .commentLenght p
         
       { position: relative;
         
        margin-top:-30px;
         color: #7e7e7e;
        float: right;
         font-size: 12px;
         margin-right: 6rem;
       }
       
      
       
       .comment .commentInfo p{
         position: relative;
         top: 34px;
         margin-left: -33px;
         margin-bottom: 40px;
         cursor: pointer;
         color: #007bff;
     }
       .popup-content {
        position: absolute;
        background: rgba(241, 241, 244, 0.936);
        top: 23px;
        width: 120px;
        right: 0px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid white;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
        display: none; /* Pour afficher le popup, tu devras changer cette propriété dynamiquement avec JavaScript ou Angular */
      }
      
       .popup-content::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 60px;
        width: 25px;
        height: 18px;
        background: rgba(241, 241, 244, 0.936);
        transform: rotate(45deg);
        border-radius: 3px;
        border: 1px solid rgba(241, 241, 244, 0.936);
        box-shadow: 0 0.5rem 0.8rem rgba(241, 241, 244, 0.936);
      }
      
      .popup-content ul {
        margin: 0;
        padding: 0;
        width: 100px;
        list-style: none;
        display: flex;
        flex-direction: column;
      }
      
       .popup-content ul li {
        padding: 10px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      
       .popup-content ul li:hover {
        transform: scale(1.05);
        border-radius: 10px;
        border: 1px solid white;
        box-shadow: 0px 8px 15px white;
        background-color: #b1c0fa;
      }
      
     .popup-content ul li span {
        margin-left: 5px;
        font-size: 12px;
      }
      
      
       .popup-content ul li .bxs-edit-alt{
        color:rgb(2, 175, 2);
      }
      .popup-content ul li  .bx-trash, .bx-error-alt {
        color:rgb(255, 5, 5)
      }
      .popupCardUser {
        position: fixed;
        top: 20%;
        left: 35%;
        transform: translate(-50%, -50%);
        pointer-events: auto;
        padding: 20px;
        
         z-index: 9999;
      }
      .toggle-button {

        position: absolute;
        background-color: transparent;
        border: none;
        color:#6d80c5;
        cursor: pointer;
        margin-top: 5px;
        left: 20px;
      }
      .post-text.expanded {
        max-height: none; /* Supprime la limite lorsque l'élément est étendu */
        white-space: normal;
        overflow: visible;
      }
      
  .popupSignale{
    position: fixed;
   top:2%;
       left:30%;
     width: 95%;
   display: none;
   
       z-index: 9999;

  }
  
 
  .popupSupp{
    position: fixed;
    top:40%;
 left: 50%;
              transform: translate(-50%, -50%);
              padding: 20px;
              display: none;
              z-index: 10000;
            }
            
            .popupSupp .cardDelete {
              position: absolute;
              box-sizing: border-box;
            
              display: flex;
              width: 300px;
              height: 130px;
              background: rgba(255, 253, 253, 0.829);
              border: 1px solid white;
              box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
              backdrop-filter: blur(6px);
              border-radius: 17px;
              text-align: center;
              cursor: pointer;
              transition: all 0.5s;
            
              align-items: center;
              justify-content: center;
              user-select: none;
              font-weight: bolder;
              color: black;
              top: 10px;
            
            }
            
            .popupSupp .cardDelete:hover {
            
              transform: scale(1.05);
            }
            
            .popupSupp .cardDelete p {
              position: absolute;
              top: 10px;
              font-size: 15px;
              color: #97b7e3;
            }
            
            .popupSupp .cardDelete button {
              position: absolute;
              font-size: 12px;
            
              top: 80px;
              right: 30%;
              background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
              color: white;
              padding: 0.5em 1em;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              border-radius: 25px;
              box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
              transition: all 0.3s;
            }
            
            .popupSupp .cardDelete button:hover {
              transform: translateY(-3px);
              box-shadow: 0px 8px 15px white;
            }
            
            .popupSupp .cardDelete button:active {
              transform: scale(0.95);
              box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            }
            
            .popupSupp .cardDelete button span {
              display: block;
              margin-left: 0.4em;
              transition: all 0.3s;
            }
            
            .popupSupp .cardDelete button i {
              font-size: 18px;
              width: 18px;
              height: 18px;
              fill: white;
              transition: all 0.3s;
            }
            
            .popupSupp .cardDelete .svg-valider {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.2);
              margin-right: 0.5em;
              transition: all 0.3s;
            }
            
            .popupSupp .cardDelete button:hover .valider {
              background-color: rgba(255, 255, 255, 0.5);
            }
            
            .popupSupp.cardDelete button:hover i {
              transform: rotate(45deg);
            }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
    display: none;
    z-index: 9998;
  }
   
  .overlay.active{
    display: block;
  }

  @media (max-width: 768px) {

    .main-content{

      left:49px;
      width: calc(100% - 49px);
    }}
    @media (max-width:480px) {
      .main-content .search input{
       width: 330px;
       left: 0.5em;

      }
      .main-content .search .bx-search {
        left:1em;
      }
      .box-notif{
        width: 100%;
      }
      .notificationList{
        width: 100%;
      }
      .cont{
        width:90%;
        height:40%;
      }
      .notificationList .notification-container .notification-media .notification-user-avatar{
       width:30px;
      height: 30px;
       margin-left: -1rem;
      }

      .notificationList   .notification-container .notification-media  .notification-reaction{

        width: 10px;
        height: 10px;
        bottom: 0.3rem;
        
      }
      .notificationList     .notification-container .notification-media .notification-status{
        width: 5px;
        height: 5px;
      }
      .notificationList   .notification-container .notification-media .notification-status  .bxs-circle{
        left: 8px;
        width: 8px;
        height: 8px;
        font-size: 8px;
      }
      .notificationList .notification-container .notification-text {
          font-size: 13px;
      }

      .notificationList   .notification-container .notification-content  .notification-timer {
        font-size: 13px;
        font-weight: 400;
      }
    .notification{
      width:84%;
    }


    .notification .notification-container .notification-status{

      right:26px;
      width:10px;
      height: 10px;
      top:88%
    }
    .notification .notification-container.notification-content .notification-timer{

      font-size: 11px;
    }

    
     .notification .notification-header .notification-title{
      margin-top: 1rem;
      font-size: 12px;
     }
     .notification .notification-container .notification-media .notification-user-avatar{
      width:30px;
     height: 30px;
      margin-left: -1rem;
     }

     .notification  .notification-container .notification-media  .notification-reaction{

       width: 10px;
       height: 10px;
       bottom: 0.3rem;
     }

     .notification .notification-container .notification-content .notification-text{
        font-size: 13px;
      }


      .popupSupp{
      left: 15%;
      }
    }
    
  