html, body {
    width: 100vw; /* Prend 100% de la largeur du navigateur */
    height: 100vh; /* Prend 100% de la hauteur de la fenêtre */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    display: flex;
    flex-direction: column; /* Alignement vertical */
}